{% extends 'base.html' %}

{% block content %}

<form action="{% url 'child_register' %}" method="POST" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}

                               {{ field.label_tag }}
                                  {{ field }}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                         {% endfor %}
                             <input type="submit" value="Register">

                    </form>


{% endblock %}