
{%  extends 'base.html' %}

{% block login_reg %}

    <div class="d-flex justify-content-center mt-5">
        <div class="card p-3" >
            <div class="card-header text-center"><h3>Sign Up</h3></div>
            <div class="card-body pl-lg-5 pr-5 p-5 pt-2">
                <form action="{% url 'parent-register' %}" method="POST" novalidate class="p-4">
                    {% csrf_token %}

                    {% load widget_tweaks %}

                    {% for field in form.visible_fields %}

                        <p> {{ field.label_tag }}</p>
                        <p class="d-flex">
                            {{ field | add_class:"form-control m-0" }}</p>

                        {% for error in field.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                    <br>
                    <div class="">
                        <input class="btn btn-primary float-end mb-3" type="submit" value="Register">
                    </div>

                </form>
            </div>
        </div>
    </div>







{% endblock %}