{% extends 'base.html' %}

{% block content %}

    <p>Are you sure you want to delete {{ object.first_name }}'s account?</p>

    <form method="POST">{% csrf_token %}

        <p><input type="submit" value="Yes"><a href="../{{ child.id }}"><input type="button" value="Cancel"></a></p>

    </form>


    <div class="card mt-5 ">
        <div class="card-header">
            <h4 class="text-center">Are you sure you want to delete this account? </h4>
        </div>
        <div class="card-body text-center">

            <p class="card-text">This will remove all the data including the account </p>
            <form method="POST">{% csrf_token %}
                <p><input class="btn btn-primary mr-4" type="submit" value="Yes">
                    <a href="../{{ child.id }}"><input class="btn btn-secondary" type="button" value="Cancel"></a></p>
            </form>
        </div>
    </div>


{% endblock %}