{% extends 'base.html' %}
{% load static %}
{% block content %}


    {% block sidebar %}
        <link rel="stylesheet" href="{% static 'css/menusidebar.css' %}">
    {% endblock %}


    <div class="d-flex">
        <div class="p-3 bg-white ml-5 px-lg-5" style="width: 450px;">
            <ul class="list-unstyled ps-0">


                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#userchild" aria-expanded="true">
                        {{ object.first_name }}
                    </button>

                    <div class="collapse" id="userchild">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ child.get_absolute_url }}/planning" class="link-dark rounded">Create a
                                proposal</a></li>
                            <li><a href="{{ child.get_absolute_url }}/edit" class="link-dark rounded">Edit
                                Profile</a></li>
                            <li><a href="{{ child.get_absolute_url }}/change_password" class="link-dark rounded">Change
                                Password</a></li>
                            <li><a href="{{ child.get_absolute_url }}/delete" class="link-dark rounded">Delete
                                Account</a></li>
                        </ul>


                    </div>
                </li>
            </ul>
        </div>

        <div>

            <h1 class="text-center p-3"> {{ object.first_name }}'s Profile </h1>

            <div class="d-flex flex-wrap flex-column align-content-center m-3 ">

                <div class="card mb-3 " style="width: 600px;">
                    <div class="row g-0 p-3">
                        <div class="col-md-4">
                            <img src="{% static 'images/misc/avatar.png' %}" width="150" height="150"
                                 alt="profile picture">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body px-5">
                                <h4 class="card-title mb-3 text-center">{{ object.first_name | capfirst }} {{ object.last_name | capfirst }}</h4>
                                <p class="card-text"> {{ object.birthdate }}</p>
                                <p class="card-text">Language spoken: {{ object.native_language }}</p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>


{% endblock %}