{% extends 'base.html' %}

{% block content %}

<h1>{{ object.first_name }} {{ object.last_name }} </h1>
<p>Birthdate: {{ object.birthdate }}</p>
<p>Languages:{{ object.native_language }}</p>




<div class="clearfix">

	<button><a class="btn btn-info right mr-2" href="{{ object.id }}/planning"> plannification</a></button>
</div>

<div class="clearfix">

	<button><a class="btn btn-info right mr-2" href="{{ object.id }}/planning"> Messages</a></button>
</div>


<p>
    <a href="{{ object.id }}/delete"><input type="button" value="Delete profile"></a>
    <a href="{{ object.id }}/edit"><input type="button" value="Edit profile"></a>
</p>

{% endblock %}