{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}

    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'main:mykids:planning' %}"> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'main:mykids:event-detail' event.pk %}"> Edit Event </a>
        </div>
        
        <div class="clearfix">
            <h3>Event Name: {{ event.language }}</h3>
            <p>From <span style="color: gray;">{{ event.start_time_slot }}</span> To <span style="color: gray;">{{ event.end_time_slot }}</span></p>
            <hr>
            <p>{{ event.language }}</p>
        </div>
        <hr>
        <!-- <div class="clearfix">
            <h4 class="left" > Members of this Event</h4>
            <a class="btn btn-success right" href="{#% url 'calendarapp:add_eventmember' event.id %#}"> Add Member </a>
        </div>-->


    </div>-->
{% endblock %}