{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>My kids</h1>
    <p><a href="{% url 'main:mykids:childregister' %}">Sign up Child</a></p>

    <div class="container">

        {% for child in object_list %}

                <div class="row">

            <div class="col-sm">
                <p><a href="{{ child.get_absolute_url }}">{{ child.first_name }}</a></p>

            </div>
        {% endfor %}
        </div>
    </div>


    {% block sidebar %}
        <link rel="stylesheet" href="{% static 'css/menusidebar.css' %}">
    {% endblock %}

<div class="d-flex">
    <div class="p-3 bg-white" style="width: 350px;">
        <ul class="list-unstyled ps-0">
            {% for child in object_list %}
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#user-{{ child.id }}" aria-expanded="true">
                        {{ child.first_name }}
                    </button>

                    <div class="collapse" id="user-{{ child.id }}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ child.get_absolute_url }}/planning" class="link-dark rounded">Create a proposal</a></li>
                            <li><a href="{{ child.get_absolute_url }}" class="link-dark rounded">Profile</a></li>
                            <li><a href="{{ child.get_absolute_url }}/edit" class="link-dark rounded">Edit Profile</a></li>
                            <li><a href="{{ child.get_absolute_url }}/change_password" class="link-dark rounded">Change Password</a></li>
                            <li><a href="{{ child.get_absolute_url }}/delete" class="link-dark rounded">Delete Account</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>

<div>
    <h1>Contents</h1>

    <div> <h2>planning</h2>

        <h1>Planning: Propose an appointment on which language your child wish to learn </h1>

    <form  method="post">
        {% csrf_token %}
      <table class="form form-table">
        {{ product_item_form.non_form_errors }}
        {{ form }}

        <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
          <tr><td colspan="2">
              {% if messages %}
                {% for msg in messages %}
                 <p>{{ msg }}</p>
                {% endfor %}
              {% endif %}


          </td></tr>
      </table>


    </form>


    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start time slot</th>
            <th scope="col">End time slot</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for requete in rqt %}
            <tr>
                <td>{{ requete.date_slot }}</td>

                <td>{{ requete.start_time_slot }}</td>
                <td>{{ requete.end_time_slot }}</td>

                <!--<a class="btn btn-info right mr-2" href="{#% url 'main:mykids:planning'%#}?{#  #}{ deleteEvent }} %}">-->

                <td>
                    <a class="btn btn-info right mr-2"
                       href="{% url 'main:mykids:deletevent' requete.id %} ">Delete </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>





    </div>




</div>

</div>


    {% block footer_sidebar %}

        <!-- <script src="{#% static 'js/bootstrap.bundle.min.js' %#}"></script>

    <script src="{#%  static 'js/sidebars.js' %#}"></script> -->

    {% endblock %}

{% endblock %}