{% extends 'base.html' %}
{% load static %}
{% block content %}




    <div>

            <h1 class="text-center p-3" > Profile </h1>

            <div class="d-flex flex-wrap flex-column align-content-center m-3 ">





                        {% for child in object_list  %}
                            <a href="{{ child.get_absolute_url }}" class="text-decoration-none">
                            <div class="card mb-5 " style="width: 600px;">
                                <div class="row g-0 p-3">
                                    <div class="col-md-4">
                                        <img src="{% static 'images/misc/avatar.png' %}" width="150" height="150"
                                             alt="profile picture">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body px-5">
                                            <h4 class="card-title mb-3 text-center">{{ child.first_name | capfirst }} {{ child.last_name | capfirst }}</h4>
                                            <p class="card-text"> {{ child.birthdate }}</p>
                                            <p class="card-text">Language spoken: {{ child.native_language }}</p>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>




                    {% endfor %}



            </div>


        </div>

{% endblock %}