{% extends 'base.html' %}

{% block content %}

<h1>Planning: Propose an appointment on which language your child wish to learn </h1>

    <form  method="post">
        {% csrf_token %}
      <table class="form form-table d-flex justify-content-center m-5">

        {{ product_item_form.non_form_errors }}

        {{ form }}
          <tr><td colspan="2">
              {% if messages %}
                {% for msg in messages %}
                 <p style="color:red;" class="text-center">{{ msg }}</p>
                {% endfor %}
              {% endif %}


          </td></tr>


        <tr ><td colspan="2" ><button type="submit" class="btn btn-primary float-end m-3 "> Submit </button></td></tr>

      </table>


    </form>


    <table class="table table-sm mt-5">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start time slot</th>
            <th scope="col">End time slot</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for requete in rqt %}
            <tr>
                <td>{{ requete.date_slot }}</td>

                <td>{{ requete.start_time_slot }}</td>
                <td>{{ requete.end_time_slot }}</td>

                <!--<a class="btn btn-info right mr-2" href="{#% url 'main:mykids:planning'%#}?{#  #}{ deleteEvent }} %}">-->

                <td>
                    <a class="btn btn-danger right mr-2"
                       href="{% url 'main:mykids:deletevent' requete.id %} ">Delete </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>






{% endblock %}