{% extends 'base.html' %}

{% block content %}

<h1>My kids</h1>
    <form  method="post">
        {% csrf_token %}
      <table class="form form-table">
        {{ product_item_form.non_form_errors }}
        {{ form }}

        <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
          <tr><td colspan="2">
              {% if messages %}
                {% for msg in messages %}
                 <p>{{ msg }}</p>
                {% endfor %}
              {% endif %}


          </td></tr>
      </table>


    </form>


<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Wellcome</span>
	<a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Previous Month </a>
<!--    <a class="btn btn-info right mr-2" href=" {#% url 'calendarapp:event_new' %#}"> + New Event </a>-->
</div>
<div style="color: #2be234;">

    {{calendar }}
</div>

{% endblock %}