{% extends 'base.html' %}

{% block content %}



    {% for data in child_data %} My id: {{ data.id }}
        <h3> {{ data.first_name|capfirst }} {{ data.last_name|capfirst }} </h3>
        <p> Birthdate: {{ data.birthdate }} </p>
        {% if data.country %} <p>  Country:  {{ data.country }} </p> {% endif %}
        {% if data.hobbies %} <p> Hobbies: {{ data.hobbies }} </p> {% endif %}
        {% if data.description %} <p> Description: {{ data.description }} </p> {% endif %}
    {% endfor %}


    <form action="">

    </form>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Language</th>
            <th scope="col">Time</th>
            <th scope="col">Child</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>


            <tr>
            {% for detail in proposition %}

                <td> {{ detail.language }}</td>


                <td>{{ detail.start_time_slot }} {{ detail.end_time_slot }}</td>


                <td>
                    <select id="option">
                      <option  value="" selected="selected">--------</option>
                            {% for obj in select_child %}
                       <option value="{{obj.id}}">{{ obj.first_name|capfirst}} {{obj.id}}</option>
                        {% endfor %}

                    </select>
                                {#% endfor %#}


                </td>

                <td>
                    <a class="btn btn-info right mr-2" href="{% url  'main:accept-event' id_event=detail.id id_child=detail.child_id id=1 %} ">Accept</a>

                </td>



            </tr>
        {% endfor %}
        </tbody>
    </table>
{#% endfor %#}



{% endblock %}