{% extends 'base.html' %}

{% block content %}

    <h1>Homepage Correspondents </h1>

    <form action="{% url 'main:home' %}" method="get">


        <select name="language">

            <option value="" selected="selected">All Languages</option>
            {% for obj in option_laguage %}
                <option value="{{ obj.id }}">{{ obj.name|capfirst }}</option>
            {% endfor %}

        </select>


        <select name="country">

            <option value="" selected="selected">All Countries</option>
            {% for obj in option_country %}
                <option value="{{ obj.id }}">{{ obj.name|capfirst }}</option>
            {% endfor %}

        </select>
        <input type="submit" value="Search"/>
    </form>



    <div class="container">
        {% for child in object_list %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row text-center"> {% endif %}
        <div class="col-md-4">
            <div class="card p-3 m-2" >
                <img class="rounded" src="http://placehold.it/300X150" alt="">
                <div class="card-content">
                    <br>
                    <h4><a href="{{ child.get_corresponent_url }}  ">{{ child.first_name }} {{ child.last_name }}</a>
                    </h4>
                    <p>Wish to learn: {{ child.language }} </p>
                    <p>Native language: {{ child.native_language }}</p>
                    <p>Country: {{ child.country }}</p>

                </div><!-- card content -->
            </div><!-- card -->
        </div><!-- col-md-4 -->
        {% if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing -->

            {% endif %}
        {% endfor %}
    </div><!-- container -->





{% endblock %}